@font-face {
  font-family: "RalewayLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
}

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "RalewayMedium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "RalewaySemibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Raleway-Semibold.woff2") format("woff2"), url("../fonts/Raleway-Semibold.woff") format("woff");
}

@font-face {
  font-family: "RalewayBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansMedium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff");
}

@font-face {
  font-family: "MuseoSansBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff");
}

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
