@mixin container {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $width-tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 30px;
    padding-right: 30px;
  }
}