$width-tablet: 768px;
$width-desktop: 1300px;
$width-mobile-only: 767px;

$font-main: "RalewayRegular", "Arial", sans-serif;
$font-second: "MuseoSansLight", "Arial", serif;

$color-accent: #5C6BC0;
$color-text-accent: #EA673D;