.location {
  position: relative;

  @media(max-width: 959px) {
    margin-right: auto;
  }
}

.location__select {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: #202124;
  width: max-content;
  font-family: "RalewayMedium", "Arial", sans-serif;
  // text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

.location__select-current {
  border: none;
  background-color: transparent;
  padding-right: 10px;
  // text-align: right;
  cursor: pointer;
  
  &::placeholder {
    color: #202124;
  }
}

.location__select-arrow {
  // position: absolute;
  display: inline-block;
  right: 0;
  top: 4px;

  width: 5px;
  height: 5px;
  border-bottom: 2px solid #202124;
  border-left: 2px solid #202124;
  border-radius: 1px;
  right: 0;
  top: 0;
  transition: .3s;
  transform: rotate(-45deg);
  // display: inline;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 5px;
  //   height: 5px;
  //   border-bottom: 2px solid #202124;
  //   border-left: 2px solid #202124;
  //   border-radius: 1px;
  //   right: 0;
  //   top: 0;
  //   transition: .3s;
  //   transform: rotate(-45deg);
  // }

  &--active {
    top: 6px;

    // &::before {
      transform: rotate(135deg);
    }
  // }
}

.location__item {
  transition: all .3s;
}

.location__dropdown-list {
  position: absolute;
  background-color: #f9f9fe;
  right: 0;
  width: max-content;

  @media(max-width: 959px) {
    left: 0;
    top: -145px;
  }
}

.location__dropdown-item {
  transition: all .3s;
  padding: 10px 8px;

  &:hover {
    background-color: darken(#f9f9fe, 10%);
  }

  &--active {
    background-color: darken(#f9f9fe, 10%);
  }
}

// .jq-selectbox__dropdown {
//   text-align: left;
  
//   & .location__item {
//     transition: all .3s;
//     padding: 5px 10px;

//     &:hover {
//       background-color: darken(#f9f9fe, 10%);
//     }
//   }
// }