.main-menu {
  
  @media(min-width: 960px) {
    padding-top: 45px;
  }
}

.main-menu__list {
  display: flex;
  flex-direction: column;

  @media(min-width: 960px) {
    flex-direction: row;
  }

}

.main-menu__item {
  font-family: "RalewayMedium", "Arial", sans-serif;
  font-size: 28px;
  line-height: 20px;
  color: #202124;
  transition: all .3s;

  & + .main-menu__item {
    margin-top: 47px;

    @media(min-width: 960px) {
      margin-left: 18px;
      margin-top: 0;
    } 

    @media(min-width: $width-desktop) {
      margin-left: 35px;
    }
  }

  @media(min-width: 960px) {
    font-size: 16px;
  } 

  &--current {
    color: $color-accent;
  }
}

.main-menu__item-link {
  transition: all .3s;

  &:hover {
    color: $color-accent;
  }
}

.main-menu__btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  width: 31px;
  height: 23px;
  z-index: 4;
  
  &::before {
    content: '';
    position: absolute;
    width: 31px;
    height: 3px;
    background-color: #202124;
    top: 0;
    left: 0;
    margin-bottom: 7px;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: #202124;
    width: 19px;
    height: 3px;
    bottom: 0;
    right: 0;
    margin-top: 7px;
  }

  @media(min-width: 960px) {
    display: none;
  }
}

.main-menu__btn-line {
  width: 31px;
  height: 3px;
  display: block;
  background-color: #202124;
}

.main-menu__location {
 
  @media(min-width: 960px) {
    display: none;
  }
}

.main-menu__contacts {
  margin-top: 125px;
}

// .main-menu__location-select {
//   position: relative;
//   font-size: 12px;
//   line-height: 14px;
//   color: #202124;
//   font-family: "RalewayMedium", "Arial", sans-serif;
//   text-align: right;
//   padding-right: 10px;

//   &::before {
//     content: '';
//     position: absolute;
//     width: 5px;
//     height: 5px;
//     border-bottom: 2px solid #202124;
//     border-left: 2px solid #202124;
//     border-radius: 1px;
//     right: 0;
//     top: 4px;
//     transition: .3s;
//     transform: rotate(-45deg);
//   }
// }

// .main-menu__location-item {
//   transition: all .3s;
// }

// .jq-selectbox__dropdown {
//   & .main-menu__location-item {
//     transition: all .3s;
//     padding: 5px 10px;

//     &:hover {
//       background-color: darken(#f9f9fe, 10%);
//     }
//   }
// }

.main-menu__tel {
  font-family: "MuseoSansMedium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: $color-accent
}