.advantages {
  background-color: #ffffff;
  position: relative;
  padding-top: 60px;
  
  @media(min-width: 960px) {
    padding-bottom: 20px;
  }
  
  @media(min-width: $width-desktop) {
    padding-bottom: 70px;
    padding-top: 80px;
  }
}

.advantages__title {
  margin: 60px 0 44px;
  // font-size: 21px;
  
  // &::after {
  //   content: '';
  //   position: absolute;
  //   height: 3px;
  //   background-color: $color-text-accent;
  //   z-index: -1;
  //   width: 84.5%;
  //   top: 24px;
  //   left: 0;
    
  //   @media (min-width: 400px) {
  //     top: 26px;
  //   }

  //   @media (min-width: 960px) {
  //     // top: 39px;
  //     top: 35px;
  //   }
  // }

  // &::before {
  //   bottom: 7px;

  //   @media (min-width: 400px) {
  //     bottom: 5px;
  //   }

  //   @media (min-width: 960px) {
  //     bottom: 15px;
  //   }
  // }

  // @media (min-width: 400px) {
  //   font-size: 26px;
  // }

  @media (min-width: 960px) {
    margin-bottom: 53px;
  }
  
  @media (min-width: $width-desktop) {
    margin: 80px 0;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-top: 44px;

  &::before {
    content: '';
    position: absolute;
    width: 850px;
    height: 140px;
    top: -119px;
    z-index: -1;
    background-image: url(../images/advantages-text.svg);
    background-size: cover;

    @media(min-width: 960px) {
      right: -40px;
    }

    @media(min-width: $width-desktop) {
      right: 0;
    }
  }

  @media(min-width: 960px) {
    // padding-top: 60px;
    margin-top: 53px;
  }

  @media(min-width: $width-desktop) {
    margin-top: 80px;
  }
}

.advantages__item {
  margin-bottom: 80px;

  & + .advantages__item {
    @media(min-width: 1060px) {
      margin-left: 20px;
    }
  }

  @media(min-width: 960px) {
    margin-bottom: 60px;
  }

  @media(min-width: 1060px) {
    max-width: 230px;
  }

  @media(min-width: $width-desktop) {
    margin-bottom: 0;
  }

  @media(max-width: 1059px) {
    width: 50%;
  }
 }

.advantages__icon-wrapper {
  width: 69px;
  height: 69px;
  background-color: #F4F5FB;
  border-radius: 50%;
}

.advantages__item-icon {
  display: block;
  margin: auto;
  height: 100%;
}

.advantages__item-title {
  font-size: 20px;
  line-height: 26px;
  color: #211F40;
  font-family: "MuseoSansMedium", "Arial", sans-serif;
  max-width: 170px;
  margin-top: 32px;
}

.advantages__item-description {
  font-size: 16px;
  line-height: 22px;
  color: #373845;

  @media(max-width: 1059px) {
    width: 340px;
  }
}