.breadcrumps {
  margin-bottom: 20px;

  @media(min-width: $width-desktop) {
    margin-bottom: 40px;
  }

  @media(min-width: $width-desktop) {
    margin-bottom: 50px;
  }
}

.breadcrumps__inner {
  @media (max-width: 820px) {
    overflow-x: scroll;
  } 
}

.breadcrumps__list {
  display: flex; 
}

.breadcrumps__item {
  margin-right: 13px;
  position: relative;
  font-size: 10px;
  line-height: 26px;
  color: #202124;
  transition: all .3s;
  font-family: "RalewayMedium", "Arial", sans-serif;

  &::after {
    content: '/';
    position: absolute;
    width: 7px;
    height: 7px;
    right: -15px;
    top: 0;
    transition: .3s;
  }

  & + .breadcrumps__item {
    margin-left: 13px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @media(min-width: $width-desktop) {
    font-size: 14px;
  }
}

.breadcrumps__item-link {
  transition: all .3s;

  &:hover {
    color: $color-accent;
  }

  &--current {
    opacity: .3;

    &:hover {
      color: #202124;
    }
  } 
}