.portfolio {
  background-color: #f9f9fe;
  padding-bottom: 100px;
  padding-top: 60px;
  // position: relative;

  & .container {
    position: relative;
  }

  @media(min-width: 960px) {
    padding-top: 80px;
  }
}

.portfolio__title {
  margin: 98px 0 50px;

  @media(min-width: $width-desktop) {
    margin-bottom: 80px;
  }
}

.portfolio__wrapper {
  margin-top: 40px;

  @media(min-width: 960px) {
    margin-top: 50px;
  }

  @media(min-width: $width-desktop) {
    margin-top: 80px;
  }
}

// .swiper__wrapper {
//   // width: 70%;
// }

.portfolio__list {
  padding: 0 40px;
}

// .portfolio__item {
//   width: auto !important;

//   // & + .portfolio__item {
//   //   margin-left: 50px;
//   // }
// }

.portfolio__item-title {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-top: 18px;
}

.portfolio__btn-arrow {
  &--prev {
    transform: rotate(180deg);
  }
}

.portfolio__btn {
  display: block;
}

.swiper-button-next, .swiper-button-prev {
  transition: all .3s;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ea673d;
    border-radius: 50%;
    top: 7px;
    z-index: -1;
  }
}

.swiper-button-next, 
.swiper-button-prev {
  left: auto;
  top: 53%;
  transform: translateY(10px);

  @media(min-width: $width-desktop) {
   top: 50%;   
  }
}

.swiper-button-next {
  right: 63px;

  &::before {
    top: 17px;
    // left: 36px;
    left: 38px;
  }

  &::after {
    content: '';
  }
}

.swiper-button-prev {
  left: auto;
  right: 152px;

  &::before {
    top: 17px;
    left: -13px;
  }

  &::after {
    content: '';
  }
}

.swiper-button-disabled {
  &::before {
    display: none;
  }
}
